*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
}

.menu{
  display: flex;
  background-color: red;
  justify-content: space-between;
}

.logo{
    background-color: greenyellow;
}

nav{
    background-color: greenyellow;
}

.link{
    background-color: greenyellow;
}

.sotto-menu{
    width: 60%;
    margin: auto;
    background-color: orange;
}

.contenitore-sezione{
    background-color: red;
}


.contenitore-sinistra{
    background-color: greenyellow;
}

.contenitore-destra{
    background-color: greenyellow;
}